<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
</head>
<body>
  <div class="addBrand-container" id="member-add-app">
    <div class="container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :rules="rules"
        :inline="false"
        label-width="180px"
        class="demo-ruleForm"
      >
        <el-form-item label="卡号:" prop="siteId">
          <el-input v-model="ruleForm.siteId" placeholder="请输入卡号" maxlength="20"/>
        </el-form-item>
        <el-form-item
          label="会员卡名称:"
          prop="cardName"
        >

          <el-input
            v-model="ruleForm.cardName"
            placeholder="请输入会员卡名称"
            maxlength="20"
          />
        </el-form-item>
        <!--:prop一定要用冒号 映射上数据库字段-->
        <el-form-item
                label="类型:"
                :prop="ruleForm.validTimeUnit"
        >
          <el-select v-model="ruleForm.validTimeUnit" filterable clearable placeholder="请选择">
            <el-option
                    v-for="item in validTimeUnitOption"
                    :key="item.item"
                    :label="item.itemName"
                    :value="item.item">
            </el-option>
          </el-select>
          <!--<el-radio-group v-model="ruleForm.validTimeUnit">
            <el-radio label="周卡"></el-radio>
            <el-radio label="月卡"></el-radio>
            <el-radio label="季卡"></el-radio>
            <el-radio label="年卡"></el-radio>
          </el-radio-group>-->
        </el-form-item>
        <el-form-item
          label="状态:"
          prop="state"
        >
          <el-radio-group v-model="ruleForm.state">
            <el-radio label="有效"></el-radio>
            <el-radio label="冻结"></el-radio>
            <el-radio label="到期"></el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item
                label="会员卡级别:"
                :prop="ruleForm.memberLevel"
        >
          <!--filterable:提供模糊搜索，clearable:提供删除所选项-->
          <el-select v-model="ruleForm.memberLevel" filterable clearable placeholder="请选择">
            <el-option
                    v-for="item in memberLevelOption"
                    :key="item.item"
                    :label="item.itemName"
                    :value="item.item">
            </el-option>
          </el-select>
          <!--<el-radio-group v-model="ruleForm.validTimeUnit">
            <el-radio label="周卡"></el-radio>
            <el-radio label="月卡"></el-radio>
            <el-radio label="季卡"></el-radio>
            <el-radio label="年卡"></el-radio>
          </el-radio-group>-->
        </el-form-item>
        <div class="subBox address">
          <el-form-item>
            <el-button  @click="goBack()">
              取消
            </el-button>
            <el-button
              type="primary"
              @click="submitForm('ruleForm', false)"
            >
              保存
            </el-button>
            <el-button
              v-if="actionType == 'add'"
              type="primary"
              class="continue"
              @click="submitForm('ruleForm', true)"
            >
              保存并继续添加
            </el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/member.js"></script>
    <script src="../../js/validate.js"></script>
    <script src="../../js/index.js"></script>
    <script src="../../js/common.js"></script>
    <script>
      new Vue({
        /*   created：通常用于初始化某些属性值，例如data中的数据，然后再渲染成视图。
              mounted：通常在初始化页面完成后，对html的dom节点进行需要的操作。*/
        el: '#member-add-app',
        data() {
          return {
            id: '',
            actionType : '',
            ruleForm : {
                'siteId': '',
                'memberLevel': '1',
                'state': '有效',
                'cardName': '',
              'validTimeUnit': 'D',
                username: '',
            },
            memberLevelOption: [],
            validTimeUnitOption: []
          }
        },
        computed: {
          rules () {
            return {
              //账号
              username: [
                {
                  required: true, 'validator': checkUserName, trigger: 'blur'
                }
              ],
              //姓名
              name: [{ required: true, 'validator': checkName, 'trigger': 'blur' }],
              'phone': [{ 'required': true, 'validator': checkPhone, 'trigger': 'blur' }],
              'idNumber': [{ 'required': true, 'validator': validID, 'trigger': 'blur' }]
            }
          }
        },
        created() {
          this.id = requestUrlParam('id')
          this.actionType = this.id ? 'edit' : 'add'
          if (this.id) {
            this.init()
          }
          this.getMemberLevel();
          this.getValidTimeUnit();
        },
        mounted() {
          //mouted 在渲染完html后调用 通常用于页面生成后的一些dom操作
          window.getMemberLevel = this.getMemberLevel
          window.getValidTimeUnit = this.getValidTimeUnit
        },
        methods: {
          async init () {
            queryEmployeeById(this.id).then(res => {
              console.log(res)
              if (String(res.code) === '1') {
                console.log(res.data)
                this.ruleForm = res.data
                this.ruleForm.sex = res.data.sex === '0' ? '女' : '男'
                // this.ruleForm.password = ''
              } else {
                this.$message.error(res.msg || '操作失败')
              }
            })
          },
          submitForm (formName, st) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                if (this.actionType === 'add') {
                  const params = {
                    ...this.ruleForm,
                    sex: this.ruleForm.sex === '女' ? '0' : '1'
                  }
                  addEmployee(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('员工添加成功！')
                      //TODO添加成功后返回
                      console.log("before st");
                      console.log(st);
                      console.log("after st");
                      if (!st) {
                        this.goBack()
                      } else {
                        //清空表单 继续添加
                        this.$refs.ruleForm.resetFields();
                        this.ruleForm.sex='男';
                      }
                    } else {
                      this.$message.error(res.msg || '操作失败')
                    }
                  }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                  })
                } else {
                  const params = {
                    ...this.ruleForm,
                    sex: this.ruleForm.sex === '女' ? '0' : '1'
                  }
                  editEmployee(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('员工信息修改成功！')
                      this.goBack()
                    } else {
                      this.$message.error(res.msg || '操作失败')
                    }
                  }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                  })
                }
              } else {
                console.log('error submit!!')
                return false
              }
            })
          },
          getMemberLevel(){
            let that = this;
            axios.get('/Code/MemberLevel')
                    .then(function(res) {
                      console.log(res);
                      that.memberLevelOption = res.data.data;
                      debugger;
                    })
          },
          getValidTimeUnit(){
            let that = this;
            axios.get('/Code/ValidTimeUnit')
                    .then(function(res) {
                      console.log(res);
                      that.validTimeUnitOption = res.data.data;
                      debugger;
                    })
          },
          goBack(){
            //TODO 返回返回上一个页面路径错误 http://localhost:8080/backend//backend/page/member/list.html 404自动拼接了/backend
            //路径是缓存问题导致
            console.log("**************************")
            window.parent.menuEnter({
              id: '2',
              url: 'page/membercard/list.html',
              name: '会员卡信息'
            },false)
          }
        }
      })
    </script>
</body>
</html>