<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="plugins/element-ui/index.css" />
</head>
<style>
  html,
  body,
  #app {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  body > .el-container {
    margin-bottom: 40px;
    height:100%;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .home-container {
    height:100%;
  }

</style>
<body>
<div id="app">
  <el-container class="home-container">
    <el-header>
      <div class="logo">
        <img src="images/login/login-logo.png" alt="" style="width: 117px; height: 32px" />
      </div>
      <div>
        <el-button
                plain
                @click="open">
          欢迎您！{{userInfo.name}}
        </el-button>
<!--        <span>欢迎您！{{userInfo.name}}</span>-->
      </div>
      <el-button type="primary" @click="logout">退出</el-button>
    </el-header>
    <el-container>
      <el-aside width="200px">
        <el-menu :default-active="menuActived"
                 :unique-opened="true"
                 active-text-color="#ee9900"
        >
          <!--这里绑定index不支持数值类型 否则前端报vue异常 但是可以正常显示-->
          <!--显示一级菜单-->
          <el-submenu :index="item.menuid+''"
                      v-for="item in items"
                      :key="item.menuid"
                      @click="menuGroup(item)">
            <template slot="title"><i class="el-icon-message"></i>{{item.menuName}}</template>
            <!--遍历一级菜单取二级菜单-->
            <el-submenu :index="nextitem.menuid+''" v-for="nextitem in item.nextMenuDto" :key="nextitem.menuid">
              <template slot="title">{{nextitem.menuName}}</template>
              <!--遍历二级菜单取三级菜单-->
              <el-menu-item :index="finalitem.menuid+''"
                            v-for="finalitem in nextitem.nextMenu"
                            :key="finalitem.menuid"
                            @click="menuHandle(finalitem)"
              >{{finalitem.menuName}}</el-menu-item>
            </el-submenu>
          </el-submenu>
        </el-menu>

      </el-aside>
      <el-main>
        <div>
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>活动管理</el-breadcrumb-item>
            <el-breadcrumb-item>活动列表</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div>
          <iframe :src="iframeUrl"
                  id="cIframe"
                  class="c_iframe"
                  name="cIframe"
                  width="100%"
                  height="auto"
                  frameborder="0"
                  v-show="!loading"
          ></iframe>
        </div>
        <!--TODO 这里只放主页 数据放到具体每个list-->
<!--
        <div>
          <template>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
              <el-table-column
                      fixed
                      prop="date"
                      label="日期"
                      width="150">
              </el-table-column>
              <el-table-column
                      prop="name"
                      label="姓名"
                      width="120">
              </el-table-column>
              <el-table-column
                      prop="province"
                      label="省份"
                      width="120">
              </el-table-column>
              <el-table-column
                      prop="city"
                      label="市区"
                      width="120">
              </el-table-column>
              <el-table-column
                      prop="address"
                      label="地址"
                      width="300">
              </el-table-column>
              <el-table-column
                      prop="zip"
                      label="邮编"
                      width="120">
              </el-table-column>
              <el-table-column
                      fixed="right"
                      label="操作"
                      width="100">
                <template slot-scope="scope">
                  <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                  <el-button type="text" size="small">编辑</el-button>
                </template>
              </el-table-column>
            </el-table>
          </template>
        </div>
-->

      </el-main>
    </el-container>
  </el-container>
</div>
</body>
<!-- import Vue before Element -->
<!--<script src="https://unpkg.com/vue@2/dist/vue.js"></script>-->
<script src="plugins/vue/vue.js"></script>
<!-- import JavaScript -->
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="plugins/axios/axios.min.js"></script>
<script src="api/login.js"></script>
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        defAct: '2',
        loginForm:{
          username: 'admin',
          employeeId:'666666',
          password: '123456'
        },
        loading: false,
        items: [],
        userInfo: {},
        userId: {
          userId: "admin",
          employeeId:'666666'
        },
        menuActived:'',
        menuGroupActive:'',
        iframeUrl: '',
        tableData: [{
          date: '2016-05-02',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }]
      }
    },
    computed: {
    },
    created() {
      //通过登录的页面缓存中的userInfo设置全局用户
      const userInfo = window.localStorage.getItem('userInfo')
      if (userInfo) {
        this.userInfo = JSON.parse(userInfo)
      }
      this.getMenuList();

    },
    methods: {
      // 根据角色权限显示不同页面
      getMenuList() {
        let that = this;
        // 取出登录成功存入缓存中的角色id
        let userId = localStorage.getItem('userId');
        that.userId.userId = userId;
        axios.post('/menu/getMenuList', that.userId)
                .then(function(res) {
                  console.log(res);
                  that.items = res.data.data;
                })
                .catch(function(error) {
                  console.log(error);
                });
      },
      menuHandle(item) {
        this.loading = true
        this.menuActived = item.menuid+""
        this.iframeUrl = item.url
        console.log(this.menuActived+"------------------")
        //this.closeLoading(this.iframeUrl+"******************")
      },
      closeLoading(){
        this.timer = null
        this.timer = setTimeout(()=>{
          this.loading = false
        },1000)
      },
      open() {
        const h = this.$createElement;
        this.$notify({
          title: '登录成功！',
          duration:800,
          message: h('i', { style: 'color: teal'}, '欢迎登录吉格外卖管理系统！')
        });
      },
      logout() {
        axios.post("/employee/logout",this.userInfo).then(function (res){
          //回调函数
          if (res.code ==1){
            localStorage.removeItem("userInfo")
            window.location.href="/backend/page/login/login.html"
          }
        }).catch(function (error){
          //接口异常回调
          console.log(error)
        })
        /*
        logoutApi().then((res)=>{
          if(res.code === 1){
            localStorage.removeItem('userInfo')
            window.location.href = '/backend/page/login/login.html'
          }
        })*/
      }
    }
  })
</script>
<style lang="less" scoped>

</style>
</html>